@import "settings";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba($color: $gray, $alpha: 0.1);
  // border-left: 1px solid rgba($color: $gray, $alpha: .1);
  // border-right: 1px solid rgba($color: $gray, $alpha: .1);
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0;

  &-logo {
    width: 60px;
  }

  &-link {
    padding: 0.5rem 1rem;
    margin-right: 10px;
    border-radius: 5px;
    background: $blue;
    color: $light;
    &:hover {
      box-shadow: 0 0 0 1px $dark;
    }
  }
}
